<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineQuest - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="search-header">
        <h1 class="project-title-small">CineQuest</h1>
        <div class="search-bar">
            <input type="text" id="search" class="search-input" placeholder="Search for movies...">
            <button class="search-button" id="search-button">Search</button>
        </div>
    </div>

    <!-- Adicionando o ID 'results-container' -->
    <div id="results-container" class="results-container"></div>


    <footer class="site-footer">
        <p>&copy; 2024 CineQuest. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

