<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineQuest</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css3?family=Playwrite+Cuba" rel="stylesheet">
</head>
<body>
    <div class="search-container">
        <h1 class="project-title">CineQuest</h1>
        <label for="search" class="search-label"></label>
        <input type="text" id="search" class="search-input" placeholder="Procure por filmes...">
        <button class="search-button">Buscar</button>
    </div>

    <footer class="site-footer">
        <p>&copy; 2024 CineQuest. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
